table {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: middle;
}

th {
    cursor: pointer;
}

#filePicker{
    font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
    text-align: center;
    /*For some reason this isn't properly centred, but this fixes it*/
    margin-left: 5%;
}

#name, #outputTable{
    font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
    text-align: center;
}

#FBU{
    color: #F00;
}