html, body {
    background-color: #FFF;
    position: relative;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: 2em;
    color: #FFF;
    padding: 0px;
    margin: 0px;
} 

table, th, td {
    border-collapse: collapse;
    border: 1px solid #969696;
    padding: 5px;
    text-align: center;
    /*Centralise*/
    margin-left: auto;
    margin-right: auto;
}

th {
    background: #BBB;
    cursor: pointer;
}

tr:hover {
    background: #EEE;
}

table {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: middle;
}

p {
    font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
    text-align: center;
}

#filePicker{
    font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
    text-align: center;
    /*For some reason this isn't properly centred, but this fixes it*/
    margin-left: 5%;
}

#name, #outputTable{
    font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
    text-align: center;
}

#topbar{
    text-align: center;
    background-color: #242;
    padding: 2%;
}

#FBU{
    color: #F00;
}